@import "src/styling/button.css";
@import "src/styling/input.css";
@import "src/styling/modal.css";
@import "src/styling/select.css";
@import "src/styling/text.css";
@import "src/styling/popup.css";
@import "src/styling/computer-info.css";
.nav-bar {
    overflow: hidden;
    background-color: #333;
    overflow: hidden;
    background-color: #333;
    height: 64px;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
}

.balance-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.section {
    width: 25%;
    margin: 5px;
}

.box {
    padding: 2% 3%;
    border: lavender solid 1.4px;
    background-color: white;
    border-radius: 50px;
}

.pay-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hide {
    visibility: hidden;
}

img {
    width: 80%;
    height: 80%;
}

.select-container {
    display: flex;
    justify-content: center;
}