button {
    min-width: 100px;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 1, 0, 0.1), 0px 3px 14px 2px rgba(0, 0, 0, 0.1);
}

.blue-btn {
    background-color: #2196f3;
}

.blue-btn:hover {
    background-color: #1976d2;
}

.green-btn {
    background-color: #4CAF50;
}

.green-btn:hover {
    background-color: #388E3C;
}

.red-btn {
    background-color: #B2443C;
}

.grey-btn {
    background-color: #8d6e63;
}

.grey-btn:hover {
    background-color: #5f4339;
}

.disabled-btn {
    pointer-events: none;
    background-color: grey;
}

.loan-btns {
    display: flex;
    justify-content: flex-end;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}