.computer-info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    width: 70%;
}

.computer-information {
    display: flex;
    visibility: hidden;
    width: 100%;
}

.computer-image-container {
    width: 200px;
    min-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 2%;
}

.title-and-description {
    flex: 2;
    margin: 0 4%;
}

.price-and-buy {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-price-container {
    justify-content: center;
    margin-bottom: 40px;
}

#computer-price {
    font-size: 30px;
}

#computer-description {
    font-size: 14px;
}