/* Popup container */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


/* The actual popup (appears on top) */

.popup .popuptext {
    opacity: 0;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    -webkit-animation: fadeInAndOut 5s;
    animation: fadeInAndOut 5s
}

@-webkit-keyframes fadeInAndOut {
    35%,
    65% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    35%,
    65% {
        opacity: 1;
    }
}