select {
    padding: 12px;
    width: 50%;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    outline: none;
    /* make arrow and background */
    background: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, #c3dfea, #c3dfea), whitesmoke;
    background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    /* styling and reset */
    font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
    /* reset */
    margin: 3% 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}