h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    margin-top: 0;
}

.balance {
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin-bottom: 10px;
}

.kr::after {
    content: " kr.";
}

.loan-error {
    color: red;
    visibility: hidden;
}

p {
    margin: 0;
}